<div class='row'>
  <div class='col-sm-12'>
    <div class='box'>
      <div class='row todo-list'>
        <div class='col-sm-10'>
          <div class='box'>
            <div class='box-content box-no-padding'>
              <div class='sortable-container'>
                <ul class='list-unstyled ' data-sortable-axis='y' data-sortable-connect='.sortable'>
                  <% version.comments.each do |comment| %>
                    <li class="<%= comment_classes(comment) %>">
                      <label class='check pull-left todo'>
                        <input type='checkbox'>
                        <span>Comment Time: <%= comment.start_time %>: <%= comment.text %></span>
                      </label>
                      <div class='actions pull-right'>
                        <a class='btn btn-link remove has-tooltip' data-placement='top' href='#' title='Remove todo'>
                          <i class='icon-remove'></i>
                        </a>
                        <a class='btn btn-link important has-tooltip' data-placement='top' href='#' title='Mark as important'>
                          <i class='icon-bookmark-empty'></i>
                        </a>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $(".todo-list .new-todo").live('submit', function(e) {
    var li, todo_name;
    todo_name = $(this).find("#todo_name").val();
    $(this).find("#todo_name").val("");
    if (todo_name.length !== 0) {
      li = $(this).parents(".todo-list").find("li.item").first().clone();
      li.find("input[type='checkbox']").attr("checked", false);
      li.removeClass("important").removeClass("done");
      li.find("label.todo span").text(todo_name);
      $(".todo-list ul").first().prepend(li);
      li.effect("highlight", {}, 500);
    }
    return e.preventDefault();
  });
  
  $(".todo-list .actions .remove").live("click", function(e) {
    $(this).tooltip("hide");
    $(this).parents("li").fadeOut(500, function() {
      return $(this).remove();
    });
    e.stopPropagation();
    e.preventDefault();
    return false;
  });
  
  $(".todo-list .actions .important").live("click", function(e) {
    $(this).parents("li").toggleClass("important");
    e.stopPropagation();
    e.preventDefault();
    return false;
  });
  
  $(".todo-list .check").live("click", function() {
    var checkbox;
    checkbox = $(this).find("input[type='checkbox']");
    if (checkbox.is(":checked")) {
      return $(this).parents("li").addClass("done");
    } else {
      return $(this).parents("li").removeClass("done");
    }
  });
</script>
