<header>
  <nav class="navbar navbar-default">
    <%= link_to image_tag("bigchicken.png", :height => 25, :width => 25, :alt => 'logo', :title => 'logo'), root_path, :class => 'navbar-brand logo' %>
    <!-- dropdowns -->
    <a class='toggle-nav btn pull-left' href='#'>
      <i class='icon-reorder'></i>
    </a>
    <ul class="nav">
      <!-- dark dropdown & user menu -->
      <li class="dropdown dark user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="user-name">
            <i class="icon-cogs"> info</i>
          </span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "Edit #{@user.username}", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'get' %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav id="main-nav">
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <li><a href='#' class='icon-beaker nav-hideable' id='in-progress'> mine in progress</a></li>
        <li><a href='#' class='icon-group nav-hideable' id='collabos'> collaborations in progress</a></li>
        <li><a href='#' class='icon-check nav-hideable' id='approved'> my approved</a></li>
        <li><a href='#' class='icon-suitcase nav-hideable' id='all'> all</a></li>
      </ul>
    </div>
  </nav>
</header>
<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="span10">
          <%= bootstrap_flash %>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>
